 .login {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
   }

.login input {
     margin: 5px;
     width: 300px;
     height: 25px;
     border-radius: 5px;
     border-color: grey;
}
